* {
  box-sizing: border-box;
}

body {
  background-color: silver;
  background-image: radial-gradient(whitesmoke, rgb(101, 97, 97));
}

.index-container {
  max-width: 600px;
  max-height: 300px;
  margin: 500px auto;
  padding: 75px 0;
  border-radius: 14px;
  background-color: rgb(49, 48, 46);
  box-shadow: 2px 2px 25px 1px rgb(74, 73, 73);
}

h2 {
  background-color: rgb(116, 114, 114);
  color: white;
  text-align: center;
  text-decoration: underline;
  padding: 5px;
}

.index-image {
  background-color: transparent;
  position: absolute;
  left: 44%;
  top: 375px;
}

.index-image img {
  border-radius: 50%;
  box-shadow: 3px 3px 40px 1px rgb(10, 7, 7);
}

a {
  text-decoration: none;
}

button {
  display: block;
  margin: auto;
  background-color: #525a39;
  color: rgb(254, 254, 254);
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 24px;
  font-size: large;
  transition-duration: 0.6s;
}
button:hover {
  transform: translatey(5px);
  color: rgb(250, 150, 50);
  box-shadow: 0.5px 0.5px 20px 0.5px rgb(10, 7, 7);
}

@media screen and (max-width: 1200px) {
  .index-image {
    left: 44%;
  }
}

@media screen and (max-width: 800px) {
  .index-image {
    left: 40%;
  }
}
